@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100dvh;
    width: 100dvw;
}

body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-image:  linear-gradient(to right, #1f2937, #2e3f5c);
    overflow-x: hidden;
}

#root{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .navbar__links {
        flex-direction: column;     
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        background-color: #1f2937;
    }
    .navbar__links button {
        display: flex;
        justify-content: center;
        padding: .9em .9em;
        width: 50%;
        background-color: #1f2937;
        flex-wrap: nowrap;
    }
    .menu.show {
        display: none;
    }
    /* .header__div {
        display: flex;
        flex-direction: column; 
    } */
}